{% extends 'layout.twig' %}
{% block title "Liste des article" %}

{% block body %}
  <h1>Liste des articles</h1>
  <ul>
    {% for post in posts %}
      <li>{{ post.name }}</li>
    {% endfor %}
  </ul>

  <form action="{{ path('blog.index') }}" method="post">
    {{ csrf() | raw }}
    <input type="text" name="name" title="Nom de l'article">
    <textarea name="content" cols="30" rows="10" title="Contenu de l'article"></textarea>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
{% endblock %}
